{
  "swagger" : "2.0",
  "info" : {
    "description" : "ffRoCreateUserDetails",
    "version" : "v1.0.0",
    "title" : "ffRoCreateUserDetails"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "OTHERS"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/fusion/create/ro/details/{id}" : {
      "post" : {
        "tags" : [ "OTHERS" ],
        "summary" : "ffRoCreateUserDetails",
        "description" : "ffRoCreateUserDetails",
        "operationId" : "ffRoCreateUserDetails",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Contains the daily position class id.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RoCreateUserDetails"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "RoCreateUserDetailsResponse",
            "schema" : {
              "$ref" : "#/definitions/RoCreateUserDetailsResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "RoCreateUserDetails" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RoCreateUserDetailsBody"
        }
      },
      "description" : "RoCreateUserDetails"
    },
    "RoCreateUserDetailsBody" : {
      "type" : "object",
      "required" : [ "aadharId", "mobileNumber", "roName", "roStatus" ],
      "properties" : {
        "addressDetails" : {
          "type" : "array",
          "description" : "Contains additional address information like Contact Person, Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Contains the communication address of the customer or full address of the property",
                "minLength" : 0,
                "maxLength" : 100
              },
              "state" : {
                "type" : "string",
                "description" : "Represents a subdivision of a country such as state, region, country",
                "minLength" : 0,
                "maxLength" : 35
              },
              "pincode" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "roName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "roStatus" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "roStratDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "roendDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "leavingReason" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "aadharId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "mobileNumber" : {
          "type" : "string",
          "description" : "Mobile number of the customer",
          "minLength" : 1,
          "maxLength" : 35
        },
        "remarks" : {
          "type" : "string",
          "description" : "General comments / notes.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "branchId" : {
          "type" : "string",
          "description" : "Unique and unambiguous identification of a branch of a financial institution.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "RoCreateUserDetailsResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/RoCreateUserDetailsResponseBody"
        }
      },
      "description" : "RoCreateUserDetailsResponse"
    },
    "RoCreateUserDetailsResponseBody" : {
      "type" : "object",
      "properties" : {
        "addressDetails" : {
          "type" : "array",
          "description" : "Contains additional address information like Contact Person, Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code",
          "items" : {
            "type" : "object",
            "properties" : {
              "address" : {
                "type" : "string",
                "description" : "Contains the communication address of the customer or full address of the property",
                "minLength" : 0,
                "maxLength" : 100
              },
              "state" : {
                "type" : "string",
                "description" : "Represents a subdivision of a country such as state, region, country",
                "minLength" : 0,
                "maxLength" : 35
              },
              "pincode" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              }
            }
          }
        },
        "roName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "roStatus" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "roStratDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "roendDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "leavingReason" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "aadharId" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "mobileNumber" : {
          "type" : "string",
          "description" : "Mobile number of the customer",
          "minLength" : 1,
          "maxLength" : 35
        },
        "remarks" : {
          "type" : "string",
          "description" : "General comments / notes.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "branchId" : {
          "type" : "string",
          "description" : "Unique and unambiguous identification of a branch of a financial institution.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}