{
  "swagger" : "2.0",
  "info" : {
    "description" : "fusionPayoffAPI",
    "version" : "v1.0.0",
    "title" : "fusionPayoffAPI"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/product/fusionPayoff" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "",
        "description" : "",
        "operationId" : "fusionPayoffAPI",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PayoffAPI"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "fusionPayoffAPIResponse",
            "schema" : {
              "$ref" : "#/definitions/PayoffAPIResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "PayoffAPI" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffAPIBody"
        }
      },
      "description" : "PayoffAPI"
    },
    "PayoffAPIBody" : {
      "type" : "object",
      "properties" : {
        "arrangement" : {
          "type" : "string",
          "description" : "Unique identifier for the arrangement contract",
          "minLength" : 0,
          "maxLength" : 20
        },
        "payoffDate" : {
          "type" : "string",
          "description" : "Indicates a date on which payoff bill has been raised",
          "minLength" : 0,
          "maxLength" : 11
        },
        "closureReason" : {
          "type" : "string",
          "description" : "This field contains the reason for closing the account",
          "minLength" : 0,
          "maxLength" : 35
        },
        "closureNotes" : {
          "type" : "string",
          "description" : "This field is used to hold the notes for the reason of account closure",
          "minLength" : 0,
          "maxLength" : 35
        },
        "activity" : {
          "type" : "string",
          "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
          "minLength" : 0,
          "maxLength" : 80
        },
        "autoRun" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "simRunRef" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 30
        },
        "synchronous" : {
          "type" : "string",
          "description" : "Indicates that this simulation capture is a synchronous request",
          "minLength" : 0,
          "maxLength" : 3
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "PayoffAPIResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/PayoffAPIResponseBody"
        }
      },
      "description" : "PayoffAPIResponse"
    },
    "PayoffAPIResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "arrangement" : {
              "type" : "string",
              "description" : "Unique identifier for the arrangement contract",
              "minLength" : 0,
              "maxLength" : 20
            },
            "payoffDate" : {
              "type" : "string",
              "description" : "Indicates a date on which payoff bill has been raised",
              "minLength" : 0,
              "maxLength" : 11
            },
            "closureReason" : {
              "type" : "string",
              "description" : "This field contains the reason for closing the account",
              "minLength" : 0,
              "maxLength" : 35
            },
            "closureNotes" : {
              "type" : "string",
              "description" : "This field is used to hold the notes for the reason of account closure",
              "minLength" : 0,
              "maxLength" : 35
            },
            "activity" : {
              "type" : "string",
              "description" : "Defines the activity to be processed against the Arrangement. The activity may be a user activity or a system generated activity.",
              "minLength" : 0,
              "maxLength" : 80
            },
            "autoRun" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "simRunRef" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 30
            },
            "synchronous" : {
              "type" : "string",
              "description" : "Indicates that this simulation capture is a synchronous request",
              "minLength" : 0,
              "maxLength" : 3
            },
            "extensions" : {
              "type" : "object",
              "description" : "Indicates the extensions"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : { }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}