{
  "swagger" : "2.0",
  "info" : {
    "description" : "createCustomerAPI",
    "version" : "v1.0.0",
    "title" : "createCustomerAPI"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/party/createCustomers/{id}" : {
      "put" : {
        "tags" : [ "RETAIL" ],
        "summary" : "",
        "description" : "",
        "operationId" : "createCustomerAPI",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "payload",
          "description" : "body Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CustomerAPI"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "CustomerAPIResponse",
            "schema" : {
              "$ref" : "#/definitions/CustomerAPIResponse"
            }
          },
          "default" : {
            "description" : "ScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ScreenErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessScreenErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemScreenErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemScreenErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "CustomerAPI" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerAPIBody"
        }
      },
      "description" : "CustomerAPI"
    },
    "CustomerAPIBody" : {
      "type" : "object",
      "required" : [ "dateOfBirth", "educationLevel", "enrollmentDate", "firstName", "gender", "groupCode", "pincode", "villageID", "villageName" ],
      "properties" : {
        "title" : {
          "type" : "string",
          "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "firstName" : {
          "type" : "string",
          "description" : "Specifies customer's first name",
          "minLength" : 1,
          "maxLength" : 70
        },
        "middleName" : {
          "type" : "string",
          "description" : "Indicates the middle name of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 70
        },
        "lastName" : {
          "type" : "string",
          "description" : "The last name of an individual customer",
          "minLength" : 0,
          "maxLength" : 50
        },
        "fatherName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 60
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer",
          "minLength" : 1,
          "maxLength" : 10
        },
        "dateOfBirth" : {
          "type" : "string",
          "description" : "The date of birth of an individual customer",
          "minLength" : 1,
          "maxLength" : 11
        },
        "dateOfDeath" : {
          "type" : "string",
          "description" : "The death date of customer.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "groupCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 70
        },
        "latitutde" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "centreCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 60
        },
        "longitude" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "villageID" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 60
        },
        "villageName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 70
        },
        "pincode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "customerStatus" : {
          "type" : "string",
          "description" : "The internal bank status of a customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "religousGroup" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 50
        },
        "landingHoldings" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "caste" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "propertyType" : {
          "type" : "string",
          "description" : "Values selected to determine action on condition e.g. accounting rules only changed at product level. Standard set of values to select from.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "enrollmentDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 11
        },
        "maritalStatus" : {
          "type" : "string",
          "description" : "Marital status of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "occupation" : {
          "type" : "string",
          "description" : "Occupation of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "occupationType" : {
          "type" : "string",
          "description" : "Specifies the occupation of the party.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "educationLevel" : {
          "type" : "string",
          "description" : "Denotes the clients's education Level.Possible Values : Degree, Diploma, A Level, O Level, Post Graduate, 0 - None, 1 - Not Defined, 2 - High School, 3 - Graduate, 4 - Post Graduate",
          "minLength" : 1,
          "maxLength" : 70
        },
        "isAlive" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "classification" : {
          "type" : "string",
          "description" : "Indicates vendor classification based on industries",
          "minLength" : 0,
          "maxLength" : 4
        },
        "customerRating" : {
          "type" : "string",
          "description" : "Indicates the rating of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 4
        },
        "secondOfficer" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 4
        },
        "sector" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 10
        },
        "industry" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 10
        },
        "target" : {
          "type" : "string",
          "description" : "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
          "minLength" : 0,
          "maxLength" : 4
        },
        "blocked" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 1
        },
        "postingRestrict" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 2
        },
        "branchCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "branchName" : {
          "type" : "string",
          "description" : "Contains the description for the Organization Code defined at Branch Level.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "sms" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 17
        },
        "phone" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 17
        },
        "customerType" : {
          "type" : "string",
          "description" : "Identifies the type of customers. Example Personal, Business, Corporate, etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "noOfDependents" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 2
        },
        "rationCard" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        }
      }
    },
    "ScreenHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "CustomerAPIResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ScreenHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CustomerAPIResponseBody"
        }
      },
      "description" : "CustomerAPIResponse"
    },
    "CustomerAPIResponseBody" : {
      "type" : "object",
      "properties" : {
        "title" : {
          "type" : "string",
          "description" : "Main menu title or header which the user wants to display on the screen when requesting the display of this main menu. This field can be expanded to allow the user to enter the description of the main menu in various languages.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "fullName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 50
        },
        "firstName" : {
          "type" : "string",
          "description" : "Specifies customer's first name",
          "minLength" : 1,
          "maxLength" : 70
        },
        "middleName" : {
          "type" : "string",
          "description" : "Indicates the middle name of the customer or prospect",
          "minLength" : 0,
          "maxLength" : 70
        },
        "lastName" : {
          "type" : "string",
          "description" : "The last name of an individual customer",
          "minLength" : 0,
          "maxLength" : 50
        },
        "fatherName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 60
        },
        "mnemonic" : {
          "type" : "string",
          "description" : "Shortcut code for referring an Entity/Company/Branch.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "gender" : {
          "type" : "string",
          "description" : "Gender of the Individual Customer",
          "minLength" : 1,
          "maxLength" : 10
        },
        "dateOfBirth" : {
          "type" : "string",
          "description" : "The date of birth of an individual customer",
          "minLength" : 1,
          "maxLength" : 11
        },
        "dateOfDeath" : {
          "type" : "string",
          "description" : "The death date of customer.",
          "minLength" : 0,
          "maxLength" : 11
        },
        "groupCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 70
        },
        "latitutde" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "centreCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 60
        },
        "longitude" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "villageID" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 60
        },
        "villageName" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 70
        },
        "pincode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 35
        },
        "customerStatus" : {
          "type" : "string",
          "description" : "The internal bank status of a customer",
          "minLength" : 0,
          "maxLength" : 25
        },
        "religousGroup" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 50
        },
        "landingHoldings" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "caste" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "propertyType" : {
          "type" : "string",
          "description" : "Values selected to determine action on condition e.g. accounting rules only changed at product level. Standard set of values to select from.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "enrollmentDate" : {
          "type" : "string",
          "description" : "",
          "minLength" : 1,
          "maxLength" : 11
        },
        "maritalStatus" : {
          "type" : "string",
          "description" : "Marital status of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "occupation" : {
          "type" : "string",
          "description" : "Occupation of the customer",
          "minLength" : 0,
          "maxLength" : 35
        },
        "occupationType" : {
          "type" : "string",
          "description" : "Specifies the occupation of the party.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "educationLevel" : {
          "type" : "string",
          "description" : "Denotes the clients's education Level.Possible Values : Degree, Diploma, A Level, O Level, Post Graduate, 0 - None, 1 - Not Defined, 2 - High School, 3 - Graduate, 4 - Post Graduate",
          "minLength" : 1,
          "maxLength" : 70
        },
        "isAlive" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "classification" : {
          "type" : "string",
          "description" : "Indicates vendor classification based on industries",
          "minLength" : 0,
          "maxLength" : 4
        },
        "customerRating" : {
          "type" : "string",
          "description" : "Indicates the rating of the customer",
          "minLength" : 0,
          "maxLength" : 10
        },
        "accountOfficer" : {
          "type" : "string",
          "description" : "Identifier of Department Account Officer",
          "minLength" : 0,
          "maxLength" : 4
        },
        "secondOfficer" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 4
        },
        "sector" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 10
        },
        "industry" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 10
        },
        "target" : {
          "type" : "string",
          "description" : "Specifies how the Customer is considered by the bank and how he fits in with the Account Officer's overall marketing strategy",
          "minLength" : 0,
          "maxLength" : 4
        },
        "blocked" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 1
        },
        "postingRestrict" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 2
        },
        "branchCode" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 11
        },
        "branchName" : {
          "type" : "string",
          "description" : "Contains the description for the Organization Code defined at Branch Level.",
          "minLength" : 0,
          "maxLength" : 70
        },
        "sms" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 17
        },
        "phone" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 17
        },
        "customerType" : {
          "type" : "string",
          "description" : "Identifies the type of customers. Example Personal, Business, Corporate, etc.",
          "minLength" : 0,
          "maxLength" : 35
        },
        "noOfDependents" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 2
        },
        "rationCard" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 70
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "ScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ScreenErrorResponseBody"
        }
      },
      "description" : "ScreenErrorResponse"
    },
    "ScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessScreenErrorResponseBody"
        }
      },
      "description" : "BusinessScreenErrorResponse"
    },
    "BusinessScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemScreenErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemScreenErrorResponseBody"
        }
      },
      "description" : "SystemScreenErrorResponse"
    },
    "SystemScreenErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}