{
  "swagger" : "2.0",
  "info" : {
    "description" : "fusionloanpayoffdetailsAPI",
    "version" : "v1.0.0",
    "title" : "fusionloanpayoffdetailsAPI"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/fusionloanpayoffdetail" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "",
        "description" : "",
        "operationId" : "fusionloanpayoffdetailsAPI",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "arrangementId",
          "in" : "query",
          "description" : "Indicates an unique identifier of an account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "simulationReference",
          "in" : "query",
          "description" : "Indicates the reference id for simulation activity",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "adjustProperty",
          "in" : "query",
          "description" : "Indicates the interest or account or charge properties for which balances are to be captured or adjusted.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "APIResponse",
            "schema" : {
              "$ref" : "#/definitions/APIResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "APIResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/APIResponseBody"
        }
      },
      "description" : "APIResponse"
    },
    "APIResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "payoffs" : {
            "type" : "array",
            "description" : "Indicates the settlement of the loan amount",
            "items" : {
              "type" : "object",
              "properties" : {
                "payoffDate" : {
                  "type" : "string",
                  "description" : "Indicates a date on which payoff bill has been raised"
                },
                "totPayoffAmount" : {
                  "type" : "string",
                  "description" : "Indicates the original amount of the bill",
                  "maxLength" : 19
                },
                "interestAmount" : {
                  "type" : "string",
                  "description" : "The accrued Interest due or accrued.",
                  "maxLength" : 19
                }
              }
            }
          },
          "infoPayments" : {
            "type" : "array",
            "items" : {
              "type" : "object",
              "properties" : {
                "infoPayDate" : {
                  "type" : "string",
                  "description" : "Indicates the bill date of payoff bill for the perdiem amounts calculated"
                },
                "totPayAmount" : {
                  "type" : "string",
                  "description" : "Indicates the total payment amount which was made due over the tenure",
                  "maxLength" : 19
                },
                "totInterestAmount" : {
                  "type" : "string",
                  "description" : "Indicates the sum of interest amounts which was made due over the tenure",
                  "maxLength" : 19
                }
              }
            }
          },
          "properties" : {
            "type" : "array",
            "description" : "Id of the product property",
            "items" : {
              "type" : "object",
              "properties" : {
                "propertyName" : {
                  "type" : "string",
                  "description" : "Indicates the  property description to which benefit has been applied",
                  "maxLength" : 35
                },
                "adjustProperty" : {
                  "type" : "string",
                  "description" : "Indicates the interest or account or charge properties for which balances are to be captured or adjusted.",
                  "maxLength" : 30
                },
                "paymentTypeName" : {
                  "type" : "string",
                  "description" : "Indicates Payment type set to an account",
                  "maxLength" : 30
                },
                "propertyDescription" : {
                  "type" : "string",
                  "description" : "Contains the description of the property."
                },
                "propertyAmount" : {
                  "type" : "string",
                  "description" : "Indicates the payment amount which is corresponding to the product property",
                  "maxLength" : 19
                },
                "waivePropertyAmount" : {
                  "type" : "string",
                  "description" : "",
                  "maxLength" : 30
                },
                "unallocatedAmount" : {
                  "type" : "string",
                  "description" : "Indicates an unallocated credit amount to an account",
                  "maxLength" : 19
                }
              }
            }
          },
          "payments" : {
            "type" : "array",
            "description" : "Indicates the initiation of payment for an account",
            "items" : {
              "type" : "object",
              "properties" : {
                "paymentType" : {
                  "type" : "string",
                  "description" : "Indicates if the payment is Customer (C) type or Bank (B) type",
                  "maxLength" : 19
                },
                "paymentAmount" : {
                  "type" : "string",
                  "description" : "Indicates the payment amount for the defined term, amount and payment frequency. It will include principal, charge and interest",
                  "maxLength" : 19
                }
              }
            }
          },
          "arrangementId" : {
            "type" : "string",
            "description" : "Indicates an unique identifier of an account"
          },
          "paymentIndicator" : {
            "type" : "string",
            "description" : "Indicates whether its a credit/debit type of bill",
            "maxLength" : 30
          },
          "quotationReference" : {
            "type" : "string",
            "description" : "Contains the unique identifier for the requested pricing quotation. Pricing quotation can be requested for new account, account transaction, account closure, etc",
            "maxLength" : 30
          },
          "extensions" : {
            "type" : "object",
            "description" : "Indicates the extension data"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}