{
  "swagger" : "2.0",
  "info" : {
    "description" : "fusionchangecentreAPI",
    "version" : "v1.0.0",
    "title" : "fusionchangecentreAPI"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/fusionchangecentre" : {
      "post" : {
        "tags" : [ "RETAIL" ],
        "summary" : "",
        "description" : "",
        "operationId" : "fusionchangecentre",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validate_only",
          "in" : "query",
          "description" : "The identifier to indicate if it is set to only validate or not.",
          "required" : false,
          "type" : "boolean"
        }, {
          "in" : "body",
          "name" : "payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/fusionchangecentre"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "fusionchangecentreResponse",
            "schema" : {
              "$ref" : "#/definitions/fusionchangecentreResponse"
            }
          },
          "default" : {
            "description" : "ArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/ArrangementErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessArrangementErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemArrangementErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemArrangementErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "PayloadHeader" : {
      "properties" : {
        "audit" : {
          "type" : "object",
          "properties" : {
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            }
          }
        }
      }
    },
    "fusionchangecentre" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/PayloadHeader"
        },
        "body" : {
          "$ref" : "#/definitions/fusionchangecentreBody"
        }
      },
      "description" : "fusionchangecentre"
    },
    "fusionchangecentreBody" : {
      "type" : "object",
      "properties" : {
        "parties" : {
          "type" : "array",
          "description" : "Identifier of individuals in terms of Customers or Person or Entities with reference to the bank",
          "items" : {
            "type" : "object",
            "properties" : {
              "partyId" : {
                "type" : "string",
                "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                "minLength" : 0,
                "maxLength" : 10
              },
              "partyRole" : {
                "type" : "string",
                "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "agents" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "agentId" : {
                "type" : "string",
                "description" : "Specifies the customer number who must be a Bank and acts as agent bank in the syndication.",
                "minLength" : 0,
                "maxLength" : 10
              },
              "agentArrangementId" : {
                "type" : "string",
                "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                "minLength" : 0,
                "maxLength" : 17
              },
              "agentRole" : {
                "type" : "string",
                "description" : "The role of the 3rd party, select from standard list",
                "minLength" : 0,
                "maxLength" : 30
              }
            }
          }
        },
        "arrangmentId" : {
          "type" : "string",
          "description" : "Indicates an unique identifier of an account",
          "minLength" : 0,
          "maxLength" : 20
        },
        "productId" : {
          "type" : "string",
          "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
          "minLength" : 0,
          "maxLength" : 30
        },
        "variation" : {
          "type" : "string",
          "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
          "minLength" : 0,
          "maxLength" : 15
        },
        "currency" : {
          "type" : "string",
          "description" : "Identifies the currency. E.g. USD, GBP etc",
          "minLength" : 0,
          "maxLength" : 3
        },
        "pricing" : {
          "type" : "string",
          "description" : "",
          "minLength" : 0,
          "maxLength" : 35
        },
        "pricingPlan" : {
          "type" : "string",
          "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
          "minLength" : 0,
          "maxLength" : 35
        },
        "rewardsArrangementId" : {
          "type" : "string",
          "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
          "minLength" : 0,
          "maxLength" : 17
        },
        "tradeDate" : {
          "type" : "string",
          "description" : "Standard date field which records trade date of the account",
          "minLength" : 0,
          "maxLength" : 11
        },
        "activityId" : {
          "type" : "string",
          "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
          "minLength" : 0,
          "maxLength" : 80
        },
        "effectiveDate" : {
          "type" : "string",
          "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
          "minLength" : 0,
          "maxLength" : 11
        },
        "reason" : {
          "type" : "string",
          "description" : "Contains the reason for performing the current activity",
          "minLength" : 0,
          "maxLength" : 100
        },
        "extensions" : {
          "type" : "object",
          "description" : "Indicates the extensions"
        },
        "account" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "closedLoans" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "closeLoan" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "closeAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    }
                  }
                }
              },
              "repayingLoans" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "repayLoan" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "repayAmount" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    }
                  }
                }
              },
              "group" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "centre" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 60
              },
              "village" : {
                "type" : "string",
                "description" : "Contains the village where the property is located",
                "minLength" : 0,
                "maxLength" : 60
              },
              "panchayat" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "division" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "cluster" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "region" : {
                "type" : "string",
                "description" : "Name of the region used for display or enrichment",
                "minLength" : 0,
                "maxLength" : 70
              },
              "zone" : {
                "type" : "string",
                "description" : "Specifies the zone under which the respective property is classified based on zoning rules applicable for the respective country or region. E.g., - Residential Zone, Commercial Zone, or Industrial Zone",
                "minLength" : 0,
                "maxLength" : 70
              },
              "cycle" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "utr" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "purpcode" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "disburseBranch" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "sanctionDate" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "loanTransfer" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "fundingSource" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "disburseMode" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "extLoannum" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "riskType" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "auditStatus" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 35
              },
              "losLoanProduct" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "subPurpose" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "vendorType" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "businessType" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "categoryOfLoan" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "insuranceName" : {
                "type" : "string",
                "description" : "",
                "minLength" : 0,
                "maxLength" : 70
              },
              "extensions" : {
                "type" : "object",
                "description" : "Indicates the extensions"
              }
            }
          }
        }
      }
    },
    "ArrangementHeader" : {
      "properties" : {
        "transactionStatus" : {
          "type" : "string",
          "description" : "The status of the transaction"
        },
        "aaaId" : {
          "type" : "string",
          "description" : "The Identifier of the aa record created"
        },
        "id" : {
          "type" : "string",
          "description" : "The Identifier of the record created"
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "uniqueIdentifier" : {
          "type" : "string",
          "description" : "The unique identifier/Message Reference of the record created."
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "fusionchangecentreResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "body" : {
          "$ref" : "#/definitions/fusionchangecentreResponseBody"
        }
      },
      "description" : "fusionchangecentreResponse"
    },
    "fusionchangecentreResponseBody" : {
      "type" : "object",
      "properties" : {
        "arrangementActivity" : {
          "type" : "object",
          "properties" : {
            "parties" : {
              "type" : "array",
              "description" : "Identifier of individuals in terms of Customers or Person or Entities with reference to the bank",
              "items" : {
                "type" : "object",
                "properties" : {
                  "partyId" : {
                    "type" : "string",
                    "description" : "Allows capturing of customers or person entities to be part of the relationship. If partyType is selected as Customer, then the system will allow only customer Ids to be captured into this field. If partyType is selected as Person or Entity, then system will allow only personEntity Ids to be captured into this field.",
                    "minLength" : 0,
                    "maxLength" : 10
                  },
                  "partyRole" : {
                    "type" : "string",
                    "description" : "Contains the identifier used for the role played by the party or customer in the contract or account",
                    "minLength" : 0,
                    "maxLength" : 30
                  }
                }
              }
            },
            "agents" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "agentId" : {
                    "type" : "string",
                    "description" : "Specifies the customer number who must be a Bank and acts as agent bank in the syndication.",
                    "minLength" : 0,
                    "maxLength" : 10
                  },
                  "agentArrangementId" : {
                    "type" : "string",
                    "description" : "The id of the arrangement with the 3rd party that has sold the product on behalf of the institution",
                    "minLength" : 0,
                    "maxLength" : 17
                  },
                  "agentRole" : {
                    "type" : "string",
                    "description" : "The role of the 3rd party, select from standard list",
                    "minLength" : 0,
                    "maxLength" : 30
                  }
                }
              }
            },
            "arrangmentId" : {
              "type" : "string",
              "description" : "Indicates an unique identifier of an account",
              "minLength" : 0,
              "maxLength" : 20
            },
            "productId" : {
              "type" : "string",
              "description" : "Contains the unique identifier of the product, e.g. the product id of the arrangement account.",
              "minLength" : 0,
              "maxLength" : 30
            },
            "variation" : {
              "type" : "string",
              "description" : "Additional product specification based on particular criteria for example the account was opened on-line and attracted a higher interest rate. Drop down list to select appropriate variation or applied automatically",
              "minLength" : 0,
              "maxLength" : 15
            },
            "currency" : {
              "type" : "string",
              "description" : "Identifies the currency. E.g. USD, GBP etc",
              "minLength" : 0,
              "maxLength" : 3
            },
            "pricing" : {
              "type" : "string",
              "description" : "",
              "minLength" : 0,
              "maxLength" : 35
            },
            "pricingPlan" : {
              "type" : "string",
              "description" : "Indicates the Pricing Plan of an account, it gives preferential interest rate/charge schedule based on customer segment",
              "minLength" : 0,
              "maxLength" : 35
            },
            "rewardsArrangementId" : {
              "type" : "string",
              "description" : "Indicates the Rewards account id assigned to a financial account(Loans,Deposits)",
              "minLength" : 0,
              "maxLength" : 17
            },
            "tradeDate" : {
              "type" : "string",
              "description" : "Standard date field which records trade date of the account",
              "minLength" : 0,
              "maxLength" : 11
            },
            "activityId" : {
              "type" : "string",
              "description" : "Id of the activity, e.g. ACCOUNTS-CAPITALISE-ACCHARGE*CARDISSUEFEE",
              "minLength" : 0,
              "maxLength" : 80
            },
            "effectiveDate" : {
              "type" : "string",
              "description" : "Contains the identifier for the transaction date. Dates are expected in ‘YYYYMMDD’ format",
              "minLength" : 0,
              "maxLength" : 11
            },
            "reason" : {
              "type" : "string",
              "description" : "Contains the reason for performing the current activity",
              "minLength" : 0,
              "maxLength" : 100
            },
            "extensions" : {
              "type" : "object",
              "description" : "Indicates the extensions"
            }
          }
        },
        "activities" : {
          "type" : "object",
          "properties" : {
            "{activityName}" : {
              "type" : "object",
              "properties" : {
                "activity" : {
                  "type" : "string"
                },
                "transactionStatus" : {
                  "type" : "string",
                  "description" : "The status of the transaction"
                },
                "id" : {
                  "type" : "string",
                  "description" : "The Identifier of the record created"
                }
              }
            }
          }
        },
        "properties" : {
          "type" : "object",
          "properties" : {
            "account" : {
              "type" : "object",
              "properties" : {
                "header" : {
                  "type" : "object",
                  "properties" : {
                    "transactionStatus" : {
                      "type" : "string",
                      "description" : "The status of the transaction"
                    },
                    "audit" : {
                      "type" : "object",
                      "properties" : {
                        "T24_time" : {
                          "type" : "integer",
                          "format" : "int32",
                          "description" : "Time taken to response by Transact"
                        },
                        "versionNumber" : {
                          "type" : "string",
                          "description" : "Current number of the record"
                        },
                        "requestParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the request by IRIS"
                        },
                        "responseParse_time" : {
                          "type" : "number",
                          "description" : "Time taken to parse the response by IRIS"
                        }
                      }
                    },
                    "id" : {
                      "type" : "string",
                      "description" : "The Identifier of the record created"
                    },
                    "status" : {
                      "type" : "string",
                      "description" : "The status of the record"
                    }
                  }
                },
                "body" : {
                  "type" : "object",
                  "properties" : {
                    "closedLoans" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "closeLoan" : {
                            "type" : "string",
                            "description" : "",
                            "minLength" : 0,
                            "maxLength" : 35
                          },
                          "closeAmount" : {
                            "type" : "string",
                            "description" : "",
                            "minLength" : 0,
                            "maxLength" : 35
                          }
                        }
                      }
                    },
                    "repayingLoans" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "repayLoan" : {
                            "type" : "string",
                            "description" : "",
                            "minLength" : 0,
                            "maxLength" : 35
                          },
                          "repayAmount" : {
                            "type" : "string",
                            "description" : "",
                            "minLength" : 0,
                            "maxLength" : 35
                          }
                        }
                      }
                    },
                    "group" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "centre" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 60
                    },
                    "village" : {
                      "type" : "string",
                      "description" : "Contains the village where the property is located",
                      "minLength" : 0,
                      "maxLength" : 60
                    },
                    "panchayat" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "division" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "cluster" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "region" : {
                      "type" : "string",
                      "description" : "Name of the region used for display or enrichment",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "zone" : {
                      "type" : "string",
                      "description" : "Specifies the zone under which the respective property is classified based on zoning rules applicable for the respective country or region. E.g., - Residential Zone, Commercial Zone, or Industrial Zone",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "cycle" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "utr" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "purpcode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "disburseBranch" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "sanctionDate" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "loanTransfer" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "fundingSource" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "disburseMode" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "extLoannum" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "riskType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "auditStatus" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 35
                    },
                    "losLoanProduct" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "subPurpose" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "vendorType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "businessType" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "categoryOfLoan" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "insuranceName" : {
                      "type" : "string",
                      "description" : "",
                      "minLength" : 0,
                      "maxLength" : 70
                    },
                    "extensions" : {
                      "type" : "object",
                      "description" : "Indicates the extensions"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/ArrangementErrorResponseBody"
        }
      },
      "description" : "ArrangementErrorResponse"
    },
    "ArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message "
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessArrangementErrorResponseBody"
        }
      },
      "description" : "BusinessArrangementErrorResponse"
    },
    "BusinessArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message for bad requests"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemArrangementErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ArrangementHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemArrangementErrorResponseBody"
        }
      },
      "description" : "SystemArrangementErrorResponse"
    },
    "SystemArrangementErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "errorDetails" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "fieldName" : {
                "type" : "string",
                "description" : "The name of the field"
              },
              "code" : {
                "type" : "string",
                "description" : "The identifier of the error message"
              },
              "message" : {
                "type" : "string",
                "description" : "The actual Transact error message caused by server"
              },
              "property" : {
                "type" : "string",
                "description" : "Id of the product property"
              }
            }
          }
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}