{
  "swagger" : "2.0",
  "info" : {
    "description" : "fusionCollectionSheetAPI",
    "version" : "v1.0.0",
    "title" : "fusionCollectionSheetAPI"
  },
  "host" : "api.server.com",
  "basePath" : "/api/v1.0.0/",
  "tags" : [ {
    "name" : "RETAIL"
  } ],
  "schemes" : [ "http", "https" ],
  "security" : [ {
    "basicAuth" : [ ]
  }, {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/reference/fusionCollectionSheet" : {
      "get" : {
        "tags" : [ "RETAIL" ],
        "summary" : "",
        "description" : "",
        "operationId" : "fusionCollectionSheet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "roEmployerId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "bmEmployerId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "demandDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "Identifier of the lead company of the underlying Entity/Company/Branch for the respective contract for customer data protection purposes. Example US0010001.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "deviceId",
          "in" : "header",
          "description" : "Identifies the device type",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userRole",
          "in" : "header",
          "description" : "User who initiated the transaction",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "disablePagination",
          "in" : "header",
          "description" : "Indicates the pagination header attributes availability. If set to 'true', it fetches all the data",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "CollectionSheetResponse",
            "schema" : {
              "$ref" : "#/definitions/CollectionSheetResponse"
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/QueryErrorResponse"
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/BusinessQueryErrorResponse"
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "schema" : {
              "$ref" : "#/definitions/SystemQueryErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "QueryHeader" : {
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records per page"
        },
        "page_start" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The record from which the response should be displayed"
        },
        "total_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The total number of records present"
        },
        "page_token" : {
          "type" : "string",
          "description" : "Unique id expected to get as part of response from Transact on every enquiry request"
        }
      }
    },
    "CollectionSheetResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/QueryHeader"
        },
        "body" : {
          "$ref" : "#/definitions/CollectionSheetResponseBody"
        }
      },
      "description" : "CollectionSheetResponse"
    },
    "CollectionSheetResponseBody" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "roEmployeeID" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "branchManagerEmployeeID" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "centerId" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "branchId" : {
            "type" : "string",
            "description" : "Unique and unambiguous identification of a branch of a financial institution.",
            "maxLength" : 35
          },
          "customerId" : {
            "type" : "number",
            "description" : "Identifier of the customer",
            "maximum" : 35
          },
          "dueInterest" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "duePrincipal" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "loanAccountNumber" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "loanStatus" : {
            "type" : "string",
            "description" : "Indicates the current status of loan contract in the loan package. Possible values are Not Disbursed, Partially Disbursed, Fully Disbursed, Customer Changed, Customer Role Changed, Closed.",
            "maxLength" : 35
          },
          "principalOutstanding" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "villageId" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "totalEmiPending" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "centerName" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "customerName" : {
            "type" : "string",
            "description" : "Indicates the name of the customer. Originator is the party who requests the payment cancellation.",
            "maxLength" : 35
          },
          "demandDate" : {
            "type" : "string",
            "format" : "date",
            "description" : ""
          },
          "groupId" : {
            "type" : "string",
            "description" : "Unique ID of the group",
            "maxLength" : 35
          },
          "groupName" : {
            "type" : "string",
            "description" : "Name of the country group",
            "maxLength" : 35
          },
          "guarantorId" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "guarantorName" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "loanTenure" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "branchName" : {
            "type" : "string",
            "description" : "Contains the description for the Organization Code defined at Branch Level.",
            "maxLength" : 35
          },
          "emiAmount" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "nextDemandDate" : {
            "type" : "string",
            "format" : "date",
            "description" : ""
          },
          "parkedAmount" : {
            "type" : "number",
            "description" : "",
            "maximum" : 35
          },
          "paymentStatus" : {
            "type" : "string",
            "description" : "Describes the current status of the payment order in the payment system",
            "maxLength" : 35
          },
          "loanDpd" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "collectionOfficerName" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "collectionOfficerId" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "customerDpd" : {
            "type" : "string",
            "description" : "",
            "maxLength" : 35
          },
          "extensions" : {
            "type" : "object",
            "description" : "Indicates the extension data"
          }
        }
      }
    },
    "ErrorHeader" : {
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the API(success/failed)"
        },
        "audit" : {
          "type" : "object",
          "properties" : {
            "T24_time" : {
              "type" : "integer",
              "format" : "int32",
              "description" : "Time taken to response by Transact"
            },
            "versionNumber" : {
              "type" : "string",
              "description" : "The CURR.NO. of the record"
            },
            "requestParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the request by IRIS"
            },
            "responseParse_time" : {
              "type" : "number",
              "description" : "Time taken to parse the response by IRIS"
            }
          }
        }
      }
    },
    "QueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/QueryErrorResponseBody"
        }
      },
      "description" : "QueryErrorResponse"
    },
    "QueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message "
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: "
        }
      }
    },
    "BusinessQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/BusinessQueryErrorResponseBody"
        }
      },
      "description" : "BusinessQueryErrorResponse"
    },
    "BusinessQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message for bad requests"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: Business"
        }
      }
    },
    "SystemQueryErrorResponse" : {
      "properties" : {
        "header" : {
          "$ref" : "#/definitions/ErrorHeader"
        },
        "error" : {
          "$ref" : "#/definitions/SystemQueryErrorResponseBody"
        }
      },
      "description" : "SystemQueryErrorResponse"
    },
    "SystemQueryErrorResponseBody" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "description" : "The identifier of the error message"
        },
        "message" : {
          "type" : "string",
          "description" : "The actual Transact error message caused by server"
        },
        "type" : {
          "type" : "string",
          "description" : "The identifier of error type: System"
        }
      }
    }
  }
}